==================================================
           SYSCTL HARDENING REPORT
==================================================

Hostname: ansiblehost.example.com
Generated On: 2026-05-29 20:27:05

===================================================


net.ipv4.ip_forward : FAIL


net.ipv4.conf.all.accept_source_route : FAIL


net.ipv4.conf.default.accept_source_route : FAIL


net.ipv4.conf.all.accept_redirects : FAIL


net.ipv4.conf.default.accept_redirects : FAIL


net.ipv4.conf.all.secure_redirects : FAIL


net.ipv4.conf.default.secure_redirects : FAIL


net.ipv4.conf.all.send_redirects : FAIL


net.ipv4.conf.default.send_redirects : FAIL


net.ipv4.tcp_syncookies : FAIL


net.ipv4.conf.all.log_martians : FAIL


net.ipv6.conf.all.disable_ipv6 : FAIL


kernel.dmesg_restrict : FAIL


kernel.yama.ptrace_scope : FAIL


kernel.kptr_restrict : FAIL


kernel.randomize_va_space : FAIL


====================================================

OVERALL RESULTS: FAIL
